<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <configuration>
 		<typeAliases>
 			<typeAlias type="com.springproject.deploy.dto.DeployRequestDto" alias="DeployRequestDto"/>
 			<typeAlias type="com.springproject.employee.dto.EmployeeDto" alias="EmployeeDto"/>
 			<typeAlias type="com.springproject.department.dto.DepartmentDto" alias="DepartmentDto"/>
 			<typeAlias type="com.springproject.chain.dto.ChainDto" alias="ChainDto"/>
			<typeAlias type="com.springproject.program.dto.ProgramDto" alias="ProgramDto"/>
			<typeAlias type="com.springproject.modifiedprograms.dto.ModifiedProgramsDto" alias="ModifiedProgramsDto"/>
			<typeAlias type="com.springproject.modifiedresources.dto.ModifiedResourcesDto" alias="ModifiedResourcesDto"/>
			<typeAlias type="com.springproject.deploy.dto.CategoryTypeDto" alias="CategoryTypeDto"/>
			<typeAlias type="com.springproject.mastercode.dto.MasterCodeDto" alias="MasterCodeDto"/>
			<typeAlias type="com.springproject.deploy.dto.DeployPayDto" alias="DeployPayDto"/>
 		</typeAliases>        
    </configuration>