<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <configuration>
 		<typeAliases>
 			<typeAlias type="com.springproject.test.dto.TestDto" alias="TestDTO"/>
 			<typeAlias type="com.springproject.deploy.dto.DeployDto" alias="DeployDto"/>
 			<typeAlias type="com.springproject.employee.dto.EmployeeDto" alias="EmployeeDto"/>
 			<typeAlias type="com.springproject.department.dto.DepartmentDto" alias="DepartmentDto"/>
 			<typeAlias type="com.springproject.chain.dto.ChainTableDto" alias="ChainTableDto"/>
			<typeAlias type="com.springproject.program.dto.ProgramTableDto" alias="ProgramTableDto"/>
			<typeAlias type="com.springproject.wprogramtable.dto.WProgramTableDto" alias="WProgramTableDto"/>
			<typeAlias type="com.springproject.wsource.dto.WSourceTableDto" alias="WSourceTableDto"/>
			<typeAlias type="com.springproject.deploy.dto.DeployCateListDto" alias="DeployCateListDto"/>
			<typeAlias type="com.springproject.mastertable.dto.MasterTableDto" alias="MasterTableDto"/>
 		</typeAliases>        
    </configuration>