<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="EmployeeDao">
  	<insert id="insertOneEmployeeDao" parameterType="EmployeeDto">  								
		INSERT INTO EMPLOYEE	(
									employeeNo
		                            , employeeName
		                            , employeePassWord
		                            , employeePhoneNumber
									, employeePostcode
		                            , employeeCommonaddress
		                            , employeeDetailaddress
		                            , employeeCompanyPhoneNumber
		                            , employeeEmail
		                            , employeeJoinDate
		                            , employeeRegisterDate
		                            , employeeModifyDate
		                            , salt
		                            , departmentNo
		                            , positionNo
								)
		VALUES					(
									#{employeeNo}
		                            , #{employeeName}
		                            , #{employeePassWord}
		                            , #{employeePhoneNumber}
		                            , #{employeePostcode}
		                            , #{employeeCommonaddress}
		                            , #{employeeDetailaddress}
		                            , #{employeeCompanyPhoneNumber}
		                            , #{employeeEmail}
		                            , #{employeeJoinDate}
		                            , now()
		                            , now()
		                            , #{salt}
		                            , #{departmentNo}
		                            , #{positionNo}
		                        )	  								
  	</insert>
  	
  	<select id="selectOneEmployeeDao" parameterType="EmployeeDto" resultType="EmployeeDto">
  		SELECT	employeeNo      
				, employeeName  
				, employeePassWord     
				, employeePhoneNumber     
				, employeePostcode     
				, employeeCommonaddress    
				, employeeDetailaddress    
				, employeeCompanyPhoneNumber    
				, employeeEmail 
				, employeeJoinDate
				, employeeRegisterDate 
				, employeeModifyDate 
  		FROM	EMPLOYEE
  		WHERE	employeeNo = #{employeeNo}
  		AND		employeePassWord = #{employeePassWord}
  	</select>
  	
  	<select id="getSaltByEmployeeNumber" parameterType="EmployeeDto" resultType="string">
  		SELECT	salt
  		FROM	EMPLOYEE
  		WHERE	employeeNo = #{employeeNo}
  	</select>
  	
  	<select id="selectMyDeployApprovalDao" parameterType="EmployeeDto" resultType="DeployApprovalDto">
        SELECT
              d.deployNo,
              d.deployDrafter,
              (select employeeName from employee where employeeNo = d.deployDrafter) as deployDrafterName,
              d.deployDraftDate,
              d.deployApprovalRequestDate,
              d.deployApprovalLine,
              (select employeeName from employee where employeeNo = d.deployApprovalLine) as deployApprovalLineName,
              d.deployApprovalDescription,
              m.codeName
        FROM DEPLOYApproval d
      	JOIN MASTERTABLE m
        ON d.deployApprovalDescription=m.codeValue
        WHERE d.deployApprovalLine=#{employeeNo}
        AND d.deployApprovalDate is null AND NOT deployApprovalDescription="deployApprovalE0" AND NOT deployApprovalDescription="deployApprovalA1"
     </select>
     
     <update id="myDeployDoApprovalingOfCompleteNowApprovalDao" parameterType="DeployApprovalDto">
	      UPDATE    DeployApproval
	      SET     
	              deployApprovalDate = now(),
	              deployApprovalLineConfirm = #{deployApprovalLineConfirm},
	              isDeployApproval = #{isDeployApproval}
	      WHERE   deployNo = #{deployNo} AND deployApprovalDate is null
     </update>
     
     <insert id="myDeployDoApprovalingOfAddNextApprovalDao" parameterType="DeployApprovalDto">
	    INSERT INTO DEPLOYApproval(
	       deployNo,
	       deployDrafter,
	       deployDraftDate,
	       deployApprovalRequestDate,
	       deployApprovalLine,
	       deployApprovalDescription
	    ) 
	    VALUES(
	       #{deployNo},
	       #{deployDrafter},
	       #{deployDraftDate},
	       now(),
	       #{deployApprovalLine},
	       #{deployApprovalDescription}
	    )
    </insert>
    
    <insert id="myDeployDoReturningOfNextApprovalDao" parameterType="DeployApprovalDto">
	     INSERT INTO DEPLOYAPPROVAL(
	     deployNo,
	     deployDrafter,
	     deployDraftDate,
	     deployApprovalRequestDate,
	     deployApprovalLine,
	     deployApprovalDescription	   
	    ) 
	    VALUES(
	    #{deployNo},
	    #{deployDrafter},
	    #{deployDraftDate},
	    now(),
	    #{deployApprovalLineConfirm},
	    #{deployApprovalDescription}	    
	    )
    </insert>
    
    <update id="changeStatusCodeForDeloyDoApprovalingDao" parameterType="DeployRequestDto">
	    UPDATE DEPLOY
	    SET statusCode=#{statusCode}
	    WHERE deployNo=#{deployNo}
    </update>
    
    <select id="selectMyDeployApprovalOfdeployNoDao" parameterType="Long" resultType="DeployApprovalDto">
        SELECT
              d.deployNo,
              d.deployDrafter,
              e.employeeName,
              d.deployDraftDate,
              d.deployApprovalRequestDate,
              d.deployApprovalLine,
              d.deployApprovalDescription,
              m.codeName
        FROM DEPLOYApproval d
      	JOIN EMPLOYEE e
      	JOIN MASTERTABLE m
        ON d.deployDrafter=e.employeeNo AND d.deployApprovalDescription=m.codeValue
        WHERE d.deployNo=#{deployNo} AND d.deployApprovalDate is null
    </select>
    
<!--     1022추가 -->
    <select id="checkThisUserHaveAuthorityOfRequestDao" parameterType="EmployeeDto" resultType="AuthorityDto">
	    SELECT
	    	employeeNo,
	    	roleCode
	    FROM authority
	    WHERE employeeNo=#{employeeNo} AND roleCode="RequestOfDeploy"
    </select>
    
    <select id="selectMyDeployApprovedDao" parameterType="EmployeeDto" resultType="DeployApprovalDto">
	    SELECT 
	    	d.deployNo,
	    	d.deployDrafter,
	    	(select employeeName from employee where employeeNo = d.deployDrafter) as deployDrafterName,
	    	d.deployDraftDate,
	    	d.deployApprovalRequestDate,
	    	d.deployApprovalLine,
	    	(select employeeName from employee where employeeNo = d.deployApprovalLine) as deployApprovalLineName,
	    	d.deployApprovalDescription,
	    	m.codeName,
	    	d.deployApprovalDate,
	    	d.deployApprovalLineConfirm,
	    	(select employeeName from employee where employeeNo = d.deployApprovalLineConfirm) as deployApprovalLineConfirmName
	    	, d.isDeployApproval
	   	FROM DEPLOYApproval d
	    JOIN MASTERTABLE m
	    ON d.deployApprovalDescription=m.codeValue    
	    WHERE d.deployApprovalLineConfirm=#{employeeNo} AND NOT deployApprovalDescription="deployApprovalE0" AND deployApprovalDate is NOT NULL
    </select>
    
    <select id="selectMyDeployWillDeployDao" parameterType="EmployeeDto" resultType="DeployApprovalDto">
    SELECT 
    	d.deployNo,
    	d.deployDrafter,
    	(select employeeName from employee where employeeNo = d.deployDrafter) as deployDrafterName,
    	d.deployDraftDate,
    	d.deployApprovalRequestDate,
    	d.deployApprovalLine,
    	(select employeeName from employee where employeeNo = d.deployApprovalLine) as deployApprovalLineName, 
    	d.deployApprovalDescription,
    	m.codeName,
    	d.deployApprovalDate,
    	d.deployApprovalLineConfirm,
    	(select employeeName from employee where employeeNo = d.deployApprovalLineConfirm) as deployApprovalLineConfirmName
   	FROM DEPLOYApproval d
    JOIN MASTERTABLE m
    ON d.deployApprovalDescription=m.codeValue
    WHERE d.deployApprovalDescription="deployApprovalE0" AND d.deployApprovalDate is null AND d.deployApprovalLine=#{employeeNo}
    </select>
    
    <select id="selectMyDeployDoingDeployOfdeployNoDao" parameterType="DeployApprovalDto" resultType="DeployApprovalDto">
        SELECT
              d.deployNo,
              d.deployDrafter,
              e.employeeName,
              d.deployDraftDate,
              d.deployApprovalRequestDate,
              d.deployApprovalLine,
              d.deployApprovalDescription,
              m.codeName
        FROM DEPLOYApproval d
      	JOIN EMPLOYEE e
      	JOIN MASTERTABLE m
        ON d.deployDrafter=e.employeeNo AND d.deployApprovalDescription=m.codeValue
        WHERE d.deployNo=#{deployNo} AND d.deployApprovalDate is null AND d.deployApprovalDescription="deployApprovalE0" AND d.deployApprovalLine=#{deployApprovalLine}
    </select>
    
    <select id="checkThisUserHaveAuthorityOfDeployDao" parameterType="EmployeeDto" resultType="AuthorityDto">
	    SELECT
	    	employeeNo,
	    	roleCode
	    FROM authority
	    WHERE employeeNo=#{employeeNo} AND roleCode="DeployOfDeploy"
    </select>
    
    <select id="selectMyDeployDeployedDao" parameterType="EmployeeDto" resultType="DeployApprovalDto">
    SELECT 
    	d.deployNo,
    	d.deployDrafter,
    	(select employeeName from employee where employeeNo = d.deployDrafter) as deployDrafterName,
    	d.deployDraftDate,
    	d.deployApprovalRequestDate,
    	d.deployApprovalLine,
    	(select employeeName from employee where employeeNo = d.deployApprovalLine) as deployApprovalLineName, 
    	d.deployApprovalDescription,
    	m.codeName,
    	d.deployApprovalDate,
    	d.deployApprovalLineConfirm,
    	(select employeeName from employee where employeeNo = d.deployApprovalLineConfirm) as deployApprovalLineConfirmName,
    	d.isDeployApproval    	
   	FROM DEPLOYApproval d
    JOIN MASTERTABLE m
    ON d.deployApprovalDescription=m.codeValue
    WHERE d.deployApprovalDescription="deployApprovalE0" AND d.deployApprovalDate is not null AND d.deployApprovalLineConfirm=#{employeeNo}
    </select>
    
    <select id="selectMyDeployReturnedDao" parameterType="EmployeeDto" resultType="DeployApprovalDto">
    SELECT 
    	d.deployNo,
    	d.deployDrafter,
    	(select employeeName from employee where employeeNo = d.deployDrafter) as deployDrafterName,
    	d.deployDraftDate,
    	d.deployApprovalRequestDate,
    	d.deployApprovalLine,
    	(select employeeName from employee where employeeNo = d.deployApprovalLine) as deployApprovalLineName, 
    	d.deployApprovalDescription,
    	m.codeName
   	FROM DEPLOYApproval d
    JOIN MASTERTABLE m
    ON d.deployApprovalDescription=m.codeValue
    WHERE d.deployApprovalDescription="deployApprovalA1" AND d.deployApprovalDate is null AND d.deployDrafter=#{employeeNo}
    </select>
    
    <select id="selectMyDeployCompletedDao" parameterType="EmployeeDto" resultType="DeployApprovalDto">
    SELECT 
    	d.deployNo,
    	d.deployDrafter,
    	(select employeeName from employee where employeeNo = d.deployDrafter) as deployDrafterName,
    	d.deployDraftDate,
    	d.deployApprovalRequestDate,
    	d.deployApprovalLine,
    	(select employeeName from employee where employeeNo = d.deployApprovalLine) as deployApprovalLineName, 
    	d.deployApprovalDescription,
    	m.codeName,
    	d.deployApprovalDate,
    	d.deployApprovalLineConfirm,
    	(select employeeName from employee where employeeNo = d.deployApprovalLineConfirm) as deployApprovalLineConfirmName
   	FROM DEPLOYApproval d
    JOIN MASTERTABLE m
    ON d.deployApprovalDescription=m.codeValue
    WHERE d.deployApprovalDescription="deployApprovalE0" AND d.deployApprovalDate is not null AND d.deployDrafter=#{employeeNo}
    </select>
    
    <select id="checkThisUserHaveAuthorityOfEmployeeRegistDao" parameterType="EmployeeDto" resultType="AuthorityDto">
	    SELECT
	       employeeNo,
	       roleCode
	    FROM authority
	    WHERE employeeNo=#{employeeNo} AND roleCode="EmployeeRegist"
    </select>
    
    <select id="duplicateCheckOfEmployeeNoDao"
  			parameterType="string"
  			resultType="Integer">
  		
  		SELECT	COUNT(*)
  		FROM	EMPLOYEE
  		WHERE	employeeNo = #{employeeNo}  	
  	</select>
  	
  	<select id="insertOneProgramDao" parameterType="ProgramDto">
  		INSERT INTO PROGRAMTABLE	(
  										pageId,
  										pageName,
  										chainId
  									)
		VALUES 						(
  					 					#{pageId},
  					 					#{pageName},
  					 					#{chainId}
  					 				) 		
  	</select>
  	
  	<select id="searchThisProgramIdIsCanUsedDao" parameterType="ProgramDto" resultType="_int">
  		SELECT COUNT(*)
  		FROM	PROGRAMTABLE
  		WHERE pageId=#{pageId}
  	</select>
  </mapper>