<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="EmployeeDao">
  	<insert id="insertOneEmployeeDao" parameterType="EmployeeDto">  								
		INSERT INTO EMPLOYEE	(
									employeeNo
		                            , employeeName
		                            , employeePassWord
		                            , employeePhoneNumber
									, employeePostcode
		                            , employeeCommonaddress
		                            , employeeDetailaddress
		                            , employeeCompanyPhoneNumber
		                            , employeeEmail
		                            , employeeJoinDate
		                            , employeeRegisterDate
		                            , employeeModifyDate
		                            , salt
		                            , departmentNo
		                            , positionNo
								)
		VALUES					(
									#{employeeNo}
		                            , #{employeeName}
		                            , #{employeePassWord}
		                            , #{employeePhoneNumber}
		                            , #{employeePostcode}
		                            , #{employeeCommonaddress}
		                            , #{employeeDetailaddress}
		                            , #{employeeCompanyPhoneNumber}
		                            , #{employeeEmail}
		                            , #{employeeJoinDate}
		                            , now()
		                            , now()
		                            , #{salt}
		                            , #{departmentNo}
		                            , #{positionNo}
		                        )	  								
  	</insert>
  	
  	<select id="selectOneEmployeeDao" parameterType="EmployeeDto" resultType="EmployeeDto">
  		SELECT	employeeNo      
				, employeeName  
				, employeePassWord     
				, employeePhoneNumber     
				, employeePostcode     
				, employeeCommonaddress    
				, employeeDetailaddress    
				, employeeCompanyPhoneNumber    
				, employeeEmail 
				, employeeJoinDate
				, employeeRegisterDate 
				, employeeModifyDate 
  		FROM	EMPLOYEE
  		WHERE	employeeNo = #{employeeNo}
  		AND		employeePassWord = #{employeePassWord}
  	</select>
  	
  	<select id="getSaltByEmployeeNumber" parameterType="EmployeeDto" resultType="string">
  		SELECT	salt
  		FROM	EMPLOYEE
  		WHERE	employeeNo = #{employeeNo}
  	</select>
  	
  	<select id="selectMyDeployPayDao" parameterType="EmployeeDto" resultType="DeployPayDto">
        SELECT
              d.deployNo,
              d.deployDrafter,
              e.employeeName,
              d.deployDraftDate,
              d.deployPayRequestDate,
              d.deployPayLine,
              d.deployPayDescription,
              m.codeName
        FROM DEPLOYPAY d
      	JOIN EMPLOYEE e
      	JOIN MASTERTABLE m
        ON d.deployDrafter=e.employeeNo AND d.deployPayDescription=m.codeValue
        WHERE d.deployPayLine=#{employeeNo}
        AND d.deployPayDate is null AND NOT deployPayDescription="deployPayE0" AND NOT deployPayDescription="deployPayA1"
     </select>
     
     <update id="myDeployDoPayingOfCompleteNowPayDao" parameterType="DeployPayDto">
	      UPDATE    DeployPay
	      SET     
	              deployPayDate = now(),
	              deployPayLineConfirm = #{deployPayLineConfirm}
	      WHERE   deployNo = #{deployNo} AND deployPayDate is null
     </update>
     
     <insert id="myDeployDoPayingOfAddNextPayDao" parameterType="DeployPayDto">
	    INSERT INTO DEPLOYPAY(
	       deployNo,
	       deployDrafter,
	       deployDraftDate,
	       deployPayRequestDate,
	       deployPayLine,
	       deployPayDescription
	    ) 
	    VALUES(
	       #{deployNo},
	       #{deployDrafter},
	       #{deployDraftDate},
	       now(),
	       #{deployPayLine},
	       #{deployPayDescription}
	    )
    </insert>
    
    <insert id="myDeployDoReturningOfNextPayDao" parameterType="DeployPayDto">
	     INSERT INTO DEPLOYPAY(
	     deployNo,
	     deployDrafter,
	     deployDraftDate,
	     deployPayRequestDate,
	     deployPayLine,
	     deployPayDescription
	    ) 
	    VALUES(
	    #{deployNo},
	    #{deployDrafter},
	    #{deployDraftDate},
	    now(),
	    #{deployPayLineConfirm},
	    #{deployPayDescription}
	    )
    </insert>
    
    <update id="changeStatusCodeForDeloyDoPayingDao" parameterType="DeployRequestDto">
	    UPDATE DEPLOY
	    SET statusCode=#{statusCode}
	    WHERE deployNo=#{deployNo}
    </update>
    
    <select id="selectMyDeployPayOfdeployNoDao" parameterType="Long" resultType="DeployPayDto">
        SELECT
              d.deployNo,
              d.deployDrafter,
              e.employeeName,
              d.deployDraftDate,
              d.deployPayRequestDate,
              d.deployPayLine,
              d.deployPayDescription,
              m.codeName
        FROM DEPLOYPAY d
      	JOIN EMPLOYEE e
      	JOIN MASTERTABLE m
        ON d.deployDrafter=e.employeeNo AND d.deployPayDescription=m.codeValue
        WHERE d.deployNo=#{deployNo} AND d.deployPayDate is null
    </select>
    
<!--     1022추가 -->
    <select id="checkThisUserHaveAuthorityOfRequestDao" parameterType="EmployeeDto" resultType="AuthorityDto">
    SELECT
    	employeeNo,
    	roleCode
    FROM authority
    WHERE employeeNo=#{employeeNo} AND roleCode="RequestOfDeploy"
    </select>
    
    <select id="selectMyDeployPaidDao" parameterType="EmployeeDto" resultType="DeployPayDto">
    SELECT 
    	d.deployNo,
    	d.deployDrafter,
    	e.employeeName,
    	d.deployDraftDate,
    	d.deployPayRequestDate,
    	d.deployPayLine,
    	d.deployPayDescription,
    	m.codeName,
    	d.deployPayDate,
    	d.deployPayLineConfirm
   	FROM DEPLOYPAY d
    JOIN EMPLOYEE e
    JOIN MASTERTABLE m
    ON d.deployDrafter=e.employeeNo AND d.deployPayDescription=m.codeValue
    WHERE d.deployPayLineConfirm=#{employeeNo} AND NOT deployPayDescription="deployPayE0" AND deployPayDate is NOT NULL
    </select>
    
    <select id="selectMyDeployWillDeployDao" parameterType="EmployeeDto" resultType="DeployPayDto">
    SELECT 
    	d.deployNo,
    	d.deployDrafter,
    	e.employeeName,
    	d.deployDraftDate,
    	d.deployPayRequestDate,
    	d.deployPayLine,
    	d.deployPayDescription,
    	m.codeName,
    	d.deployPayDate,
    	d.deployPayLineConfirm
   	FROM DEPLOYPAY d
    JOIN EMPLOYEE e
    JOIN MASTERTABLE m
    ON d.deployDrafter=e.employeeNo AND d.deployPayDescription=m.codeValue
    WHERE d.deployPayDescription="deployPayE0" AND d.deployPayDate is null AND d.deployPayLine=#{employeeNo}
    </select>
    
    <select id="selectMyDeployDoingDeployOfdeployNoDao" parameterType="DeployPayDto" resultType="DeployPayDto">
        SELECT
              d.deployNo,
              d.deployDrafter,
              e.employeeName,
              d.deployDraftDate,
              d.deployPayRequestDate,
              d.deployPayLine,
              d.deployPayDescription,
              m.codeName
        FROM DEPLOYPAY d
      	JOIN EMPLOYEE e
      	JOIN MASTERTABLE m
        ON d.deployDrafter=e.employeeNo AND d.deployPayDescription=m.codeValue
        WHERE d.deployNo=#{deployNo} AND d.deployPayDate is null AND d.deployPayDescription="deployPayE0" AND d.deployPayLine=#{deployPayLine}
    </select>
    
    <select id="checkThisUserHaveAuthorityOfDeployDao" parameterType="EmployeeDto" resultType="AuthorityDto">
    SELECT
    	employeeNo,
    	roleCode
    FROM authority
    WHERE employeeNo=#{employeeNo} AND roleCode="DeployOfDeploy"
    </select>
    
    <select id="selectMyDeployDeployedDao" parameterType="EmployeeDto" resultType="DeployPayDto">
    SELECT 
    	d.deployNo,
    	d.deployDrafter,
    	e.employeeName,
    	d.deployDraftDate,
    	d.deployPayRequestDate,
    	d.deployPayLine,
    	d.deployPayDescription,
    	m.codeName,
    	d.deployPayDate,
    	d.deployPayLineConfirm
   	FROM DEPLOYPAY d
    JOIN EMPLOYEE e
    JOIN MASTERTABLE m
    ON d.deployDrafter=e.employeeNo AND d.deployPayDescription=m.codeValue
    WHERE d.deployPayDescription="deployPayE0" AND d.deployPayDate is not null AND d.deployPayLineConfirm=#{employeeNo}
    </select>
    
    <select id="selectMyDeployReturnedDao" parameterType="EmployeeDto" resultType="DeployPayDto">
    SELECT 
    	d.deployNo,
    	d.deployDrafter,
    	e.employeeName,
    	d.deployDraftDate,
    	d.deployPayRequestDate,
    	d.deployPayLine,
    	d.deployPayDescription,
    	m.codeName
   	FROM DEPLOYPAY d
    JOIN EMPLOYEE e
    JOIN MASTERTABLE m
    ON d.deployDrafter=e.employeeNo AND d.deployPayDescription=m.codeValue
    WHERE d.deployPayDescription="deployPayA1" AND d.deployPayDate is null AND d.deployDrafter=#{employeeNo}
    </select>
    
    <select id="selectMyDeployCompletedDao" parameterType="EmployeeDto" resultType="DeployPayDto">
    SELECT 
    	d.deployNo,
    	d.deployDrafter,
    	e.employeeName,
    	d.deployDraftDate,
    	d.deployPayRequestDate,
    	d.deployPayLine,
    	d.deployPayDescription,
    	m.codeName,
    	d.deployPayDate,
    	d.deployPayLineConfirm
   	FROM DEPLOYPAY d
    JOIN EMPLOYEE e
    JOIN MASTERTABLE m
    ON d.deployDrafter=e.employeeNo AND d.deployPayDescription=m.codeValue
    WHERE d.deployPayDescription="deployPayE0" AND d.deployPayDate is not null AND d.deployDrafter=#{employeeNo}
    </select>
    
  </mapper>