<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="DeployDao">
	<insert id="InsertDeployRequestDao" parameterType="DeployRequestDto">
      INSERT INTO DEPLOY (
                         chainId
                        , workType
                        , requestDate
                        , requestTime
                        , serviceRequestId
                        , worker
                        , modifiedContents
                        , requester
                        , deployer
                        , developConfirmer
                        , testConfirmer
                        , productionConfirmer
                        , division
                        , statusCode
                        
                     )
      VALUES            (
                         #{chainId}
                        , #{workType}
                        , #{requestDate}
                        , #{requestTime}
                        , #{serviceRequestId}
                        , #{worker}
                        , #{modifiedContents}
                        , #{requester}
                        , #{deployer}
                        , #{developConfirmer}
                        , #{testConfirmer}
                        , #{productionConfirmer}
                        , #{division}
                        , "01"
                     )   
   </insert>
   
	<select id="selectAllDeployRequestDao" resultType="DeployRequestDto">
		SELECT 
	         d.deployNo
	         			, c.chainName
	                    , d.chainId
                        , d.workType
                        , d.requestDate
                        , d.requestTime
                        , d.serviceRequestId
                        , d.worker
                        , d.modifiedContents
                        , d.requester
                        , e.employeeName
                        , d.deployer
                        , d.developConfirmer
                        , d.testConfirmer
                        , d.productionConfirmer
                        , d.division
                        , d.statusCode
		 FROM deploy d 
		 JOIN CHAINTABLE c
		 JOIN EMPLOYEE e
		 ON(d.chainId=c.chainID) AND (d.requester=e.employeeNo)
	</select>
	
	<select id="selectModifiedProgramOfDeploNoDao" resultType="ModifiedProgramsDto" parameterType="Long" >
	SELECT
	       modifiedPrograms_pageId
	      ,modifiedPrograms_pageName
	      ,modifiedPrograms_deployNo
	FROM ModifiedPrograms
	WHERE modifiedPrograms_deployNo=#{deployNo}
	</select>
	
	<select id="selectModifiedResourceOfDeploNoDao" resultType="ModifiedResourcesDto" parameterType="Long">
	SELECT
	      modifiedResources_deployNo
	     ,modifiedResources_wSourceName
	FROM ModifiedResources
	WHERE modifiedResources_deployNo=#{deployNo}
	</select>
		
	<select id="selectDeployRequestOfDeployNoDao" parameterType="Long" resultType="DeployRequestDto">
		SELECT 
	         d.deployNo
	         , d.chainId
	         , d.workType
	         , d.requestDate
	         , d.requestTime
	         , d.serviceRequestId
	         , d.worker
	         , d.modifiedContents
	         , d.requester
	         , d.deployer
	         , d.developConfirmer
	         , d.testConfirmer
	         , d.productionConfirmer
	         , d.division
	         , d.statusCode
	         , c.chainName
	         , e.employeeName
		 FROM DEPLOY d 
		 JOIN CHAINTABLE c
		 JOIN EMPLOYEE e
		 ON (d.chainId=c.chainID)
		 AND d.requester = e.employeeNo
		 WHERE d.deployNo=#{deployNo}
	</select>
	
	<update id="updateOneDeployRequestDao" parameterType="DeployRequestDto">
	  UPDATE    DEPLOY
      SET   
              chainId = #{chainId}       
            , workType  = #{workType}     
            , requestDate = #{requestDate}    
            , requestTime = #{requestTime}    
            , serviceRequestId = #{serviceRequestId}
            , worker = #{worker}
            , modifiedContents = #{modifiedContents}    
            , requester = #{requester}  
            , deployer = #{deployer}
            , developConfirmer = #{developConfirmer}  
            , testConfirmer = #{testConfirmer} 
            , productionConfirmer = #{productionConfirmer}  
            , division = #{division}
            , statusCode = #{statusCode}           
      WHERE   deployNo = #{deployNo}
	</update>
	
	<delete id="deleteOneDeployRequestOfDeployNoDao" parameterType="Long">
		DELETE
		FROM	DEPLOY
		WHERE	deployNo = #{deployNo}
	</delete>

	<select id="selectSearchEmployeesDao" parameterType="EmployeeDto" resultType="EmployeeDto">
      SELECT
            employeeNo
           , employeeName
      FROM EMPLOYEE
      WHERE employeeName LIKE CONCAT('%',#{employeeName},'%')	  
   </select>
   <select id="selectSearchedChainDao" parameterType="ChainDto" resultType="ChainDto">
      SELECT
           chainId
          ,chainName
       FROM CHAINTABLE
       WHERE chainName LIKE CONCAT('%',#{chainName},'%')
   </select>      
   
   <select id="selectSearchedModifiedProgramDao" parameterType="ProgramDto" resultType="ProgramDto">
      SELECT
            pageId
           , pageName
           , chainId
       FROM  PROGRAMTABLE
       WHERE pageName LIKE CONCAT('%',#{pageName},'%')
       AND chainId=#{selectedchainId}
   </select>   
   
   <select id="selectSearchAllChainDao" resultType="ChainDto">
   SELECT
   		 chainId
   	   , chainName
   FROM CHAINTABLE
   </select> 
   
   <select id="selectSearchAllModifiedProgramDao" parameterType="ProgramDto" resultType="ProgramDto">
   SELECT
          pageId
         ,pageName
         ,chainId
   FROM  PROGRAMTABLE      
   WHERE chainId=#{selectedchainId}
   </select>  
   
   <select id="selectMaxDeployNo" resultType="LONG">
   SELECT
         MAX(deployNo)
   FROM DEPLOY
   </select>
   
   <insert id="insertModifiedProgramDao" parameterType="ModifiedProgramsDto">
  	 INSERT INTO ModifiedPrograms      (
                                 modifiedPrograms_pageId
                                 , modifiedPrograms_deployNo
                                 , modifiedPrograms_pageName
                              ) 
  	 VALUES
                              (
                                 #{modifiedPrograms_pageId}
                                 ,#{modifiedPrograms_deployNo}
                                 ,#{modifiedPrograms_pageName}
                              )
   </insert>
   
   <insert id="insertModifiedResourceDao" parameterType="ModifiedResourcesDto">
   	INSERT INTO ModifiedResources         (
                                 modifiedResources_deployNo
                                 , modifiedResources_wSourceName
                              ) 
   	VALUES
                              (
                                 #{modifiedResources_deployNo}
                                 ,#{modifiedResources_wSourceName}
                              )
   </insert>
   
   
   <delete id="deleteModifiedProgramOfDeployNoDao" parameterType="Long">
   DELETE FROM ModifiedPrograms
   WHERE modifiedPrograms_deployNo=#{deployNo}
   </delete>
   
   <delete id="deleteModifiedResourceOfDeployNoDao" parameterType="Long">
   DELETE FROM ModifiedResources
   WHERE modifiedResources_deployNo=#{deployNo}
   </delete>
   
  <select id="selectCategoryDeployRequestDao" parameterType="CategoryTypeDto" resultType="DeployRequestDto">
		SELECT 
     					d.deployNo
	         			, c.chainName
						, d.chainId
                        , d.workType
                        , d.requestDate
                        , d.requestTime
                        , d.serviceRequestId
                        , d.worker
                        , d.modifiedContents
                        , d.requester
                        , e.employeeName
                        , d.deployer
                        , d.developConfirmer
                        , d.testConfirmer
                        , d.productionConfirmer
                        , d.division
                        , d.statusCode
                        , p.modifiedPrograms_pageName
                        , s.modifiedResources_wSourceName          
    	FROM deploy d 
    	JOIN CHAINTABLE c
		JOIN MASTERTABLE m
		JOIN EMPLOYEE e
		JOIN ModifiedPrograms p
		JOIN ModifiedResources s
    	ON(d.chainId=c.chainId)
    	AND (d.statusCode=m.codeValue)
    	AND (d.requester=e.employeeNo)
    	AND (d.deployNo=p.modifiedPrograms_deployNo)
    	AND (d.deployNo=s.modifiedResources_deployNo)
		WHERE 1=1
			<if test="searchType == '요청자' and searchKeyword != ''" >
				AND e.employeeName LIKE CONCAT(#{searchKeyword}, '%')
			</if>						 
			<if test="searchType == '변경된프로그램목록' and searchKeyword != ''">
				AND p.modifiedPrograms_pageName LIKE CONCAT(#{searchKeyword}, '%')
			</if>						 
			<if test="searchType == '변경된소스명' and searchKeyword != ''">
				AND s.modifiedResources_wSourceName LIKE CONCAT(#{searchKeyword}, '%')
			</if>						 
			AND d.chainId LIKE CONCAT(#{categoryChain}, '%')
			AND d.workType LIKE CONCAT(#{categoryWorktype}, '%')
			AND d.division LIKE CONCAT(#{categoryDivision}, '%')
	        AND m.codeValue LIKE CONCAT(#{categoryStatus}, '%') 
	        AND m.codeType="CTGY_STATUS"
	    GROUP BY d.deployNo
		ORDER BY CASE WHEN #{categoryRequestDate} = '오름차순' THEN d.requestDate END ASC,
		     CASE WHEN #{categoryRequestDate} = '내림차순' THEN d.requestDate END DESC,
		     CASE WHEN #{categoryRequestDate} = '요청날짜' THEN d.requestDate END ASC;
    </select>
    
    <select id="selectAllMasterTableByStatusDao" resultType="MasterCodeDto">
    	SELECT	
    			codeType
    			, codeValue
    			, codeName
		FROM 	MASTERTABLE
		WHERE	codeType = "STATUS"
    </select>
    
    <select id="selectCategoryMasterCodesDao" parameterType="string" resultType="MasterCodeDto">
      SELECT
            codeType
            , codeValue
            , codeName
      FROM   MASTERTABLE
      WHERE   CODETYPE=#{codeType}
   </select>
   
    <select id="selectMasterCodeOfCategoryDao" resultType="MasterCodeDto">
       SELECT  DISTINCT(codeType)
      FROM   MASTERTABLE
      WHERE   codeType LIKE "CTGY%"   
    </select>
    
    <insert id="insertDeployApprovalForDeployRequestDao" parameterType="DeployApprovalDto">
	    INSERT INTO DEPLOYApproval(
	       deployNo,
	       deployDrafter,
	       deployDraftDate,
	       deployApprovalRequestDate,
	       deployApprovalLine,
	       deployApprovalDescription
	    ) 
	    VALUES(
	       #{deployNo},
	       #{deployDrafter},
	       now(),
	       now(),
	       "14",
	       "deployApprovalB0"
	    )
    </insert>
    
    <select id="selectMasterCodeOfSearchTypeDao" parameterType="string" resultType="MasterCodeDto">
      SELECT
            codeType
            , codeValue
            , codeName
      FROM   MASTERTABLE
      WHERE   CODETYPE=#{searchTypeString}
   </select>
   
       <select id="selectSearchAllEmployeesDao" resultType="EmployeeDto">
	      SELECT
	            employeeNo
	           , employeeName
	      FROM EMPLOYEE
    </select>
    
</mapper>                         
                                  
