<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="DeployDao">
	<insert id="insertOneDeployDao" parameterType="DeployDto">
      INSERT INTO DEPLOY (
                         d_chainId
                        , wtype
                        , reqDate
                        , reqTime
                        , reqserviceId
                        , wEmpNo
                        , wContent
                        , reqEmpNo
                        , deployEmpNo
                        , devEmpNo
                        , testEmpNo
                        , prdEmpNo
                        , division
                        , statusCode
                        
                     )
      VALUES            (
                         #{d_chainId}
                        , #{wtype}
                        , #{reqDate}
                        , #{reqTime}
                        , #{reqServiceId}
                        , #{wEmpNo}
                        , #{wContent}
                        , #{reqEmpNo}
                        , #{deployEmpNo}
                        , #{devEmpNo}
                        , #{testEmpNo}
                        , #{prdEmpNo}
                        , #{division}
                        , "ST0001"
                     )   
   </insert>
   
   
   <insert id="insertOneDeploy2" parameterType="java.util.ArrayList">
   INSERT INTO WPROGRAMTABLE(wProNo_pageId,wProNo_deployNo)
   VALUES
   <foreach collection="list" item="item" index="index">
   (#{item.value)
   </foreach>
                           
   
                        
   </insert>
	
	<select id="selectAllDeployDao" resultType="DeployDto">
		SELECT 
	         d.deployNo
	         , c.chainName
	         , d.d_chainId
	         , d.wtype
	         , d.reqDate
	         , d.reqTime
	         , d.reqServiceId
	         , d.wContent
	         , d.reqEmpNo
	         , d.wEmpNo
	         , d.deployEmpNo
	         , d.devEmpNo
	         , d.testEmpNo
	         , d.prdEmpNo
	         , d.division
	         , d.statusCode  
		 FROM deploy d 
		 JOIN CHAINTABLE c
		 ON(d.d_chainID=c.chainID)
	</select>
	
	<select id="selectAllWProgramDao" resultType="WProgramTableDto" parameterType="_int" >
	SELECT
	       wProNo_pageId
	      ,wProNo_pageName
	      ,wProNo_deployNo
	FROM WPROGRAMTABLE
	WHERE wProNo_deployNo=#{deployNo}
	</select>
	
	<select id="selectAllWSourceDao" resultType="WSourceTableDto" parameterType="_int">
	SELECT
	      wSo_deployNo
	     ,wSo_wSourceName
	FROM WSOURCETABLE
	WHERE wSo_deployNo=#{deployNo}
	</select>
		
	<select id="selectOneDeployDao" parameterType="_int" resultType="DeployDto">
		SELECT 
	         d.deployNo
	         , d.d_chainId
	         , d.wtype
	         , d.reqDate
	         , d.reqTime
	         , d.reqServiceId
	         , d.wEmpNo
	         , d.wContent
	         , d.reqEmpNo
	         , d.deployEmpNo
	         , d.devEmpNo
	         , d.testEmpNo
	         , d.prdEmpNo
	         , d.division
	         , d.statusCode
	         , c.chainName
		 FROM deploy d 
		 JOIN CHAINTABLE c
		 ON (d.d_chainId=c.chainID)
		 WHERE d.deployNo=#{deployNo}
	</select>
	
	<update id="updateOneDeployDao" parameterType="DeployDto">
	  UPDATE    DEPLOY
      SET   
              d_chainId = #{d_chainId}       
            , wtype  = #{wtype}     
            , reqDate = #{reqDate}    
            , reqTime = #{reqTime}    
            , reqServiceId = #{reqServiceId}
            , wEmpNo = #{wEmpNo}
            , wContent = #{wContent}    
            , reqempNo = #{reqEmpNo}  
            , deployempNo = #{deployEmpNo}
            , devempNo = #{devEmpNo}  
            , testempNo = #{testEmpNo} 
            , prdempNo = #{prdEmpNo}  
            , division = #{division}
            , statusCode = #{statusCode}           
      WHERE   deployNo = #{deployNo}
	</update>
	
	<delete id="deleteOneDeployDao" parameterType="_int">
		DELETE
		FROM	DEPLOY
		WHERE	deployNo = #{deployNo}
	</delete>

	<select id="selectSomeDeployDao" parameterType="EmployeeDto" resultType="EmployeeDto">
      SELECT
            empNo
           , empName
      FROM EMPLOYEE
      WHERE empName=#{empName}
   </select>
   <select id="selectSomeChainDao" parameterType="ChainTableDto" resultType="ChainTableDto">
      SELECT
           chainId
          ,chainName
       FROM CHAINTABLE
       WHERE chainName LIKE CONCAT('%',#{chainName},'%')
   </select>      
   
   <select id="selectSomeProgramDao" parameterType="ProgramTableDto" resultType="ProgramTableDto">
      SELECT
            pageId
           , pageName
           , p_chainId
       FROM  PROGRAMTABLE
       WHERE pageName LIKE CONCAT('%',#{pageName},'%')
       AND p_chainId=#{paramChainId}
   </select>   
   
   <select id="selectAllChainDao" resultType="ChainTableDto">
   SELECT
   		 chainId
   	   , chainName
   FROM CHAINTABLE
   </select> 
   
   <select id="selectAllProgramDao" parameterType="ProgramTableDto" resultType="ProgramTableDto">
   SELECT
          pageId
         ,pageName
         ,p_chainId
   FROM  PROGRAMTABLE      
   WHERE p_chainId=#{paramChainId}
   </select>  
   
   <select id="selectMaxDeployNo" resultType="_int">
   SELECT
         MAX(deployNo)
   FROM DEPLOY
   </select>
   
   <insert id="insertOneWProgram" parameterType="WProgramTableDto">
  	 INSERT INTO WPROGRAMTABLE      (
                                 wProNo_pageId
                                 , wProNo_deployNo
                                 , wProNo_pageName
                              ) 
  	 VALUES
                              (
                                 #{wProNo_pageId}
                                 ,#{wProNo_deployNo}
                                 ,#{wProNo_pageName}
                              )
   </insert>
   
   <insert id="insertOneWSource" parameterType="WSourceTableDto">
   	INSERT INTO WSOURCETABLE         (
                                 wSo_deployNo
                                 , wSo_wSourceName
                              ) 
   	VALUES
                              (
                                 #{wSo_deployNo}
                                 ,#{wSo_wSourceName}
                              )
   </insert>
   
   
   <delete id="deleteAllWProgram" parameterType="_int">
   DELETE FROM WPROGRAMTABLE
   WHERE wProNo_deployNo=#{deployNo}
   </delete>
   
   <delete id="deleteAllWSource" parameterType="_int">
   DELETE FROM WSOURCETABLE
   WHERE wSo_deployNo=#{deployNo}
   </delete>
   
    <select id="selectSomeDeployCateListDao" parameterType="DeployCateListDto" resultType="DeployDto">
    	SELECT 
                  d.deployNo
                  , c.chainName
                  , d.d_chainId
                  , d.wtype
                  , d.reqDate
                  , d.reqTime
                  , d.reqServiceId
                  , d.wContent
                  , d.reqEmpNo
                  , d.wEmpNo
                  , d.deployEmpNo
                  , d.devEmpNo
                  , d.testEmpNo
                  , d.prdEmpNo
                  , d.division
                  , d.statusCode  
             FROM deploy d 
             JOIN CHAINTABLE c
             ON(d.d_chainId=c.chainId)
             <if test="cateChain =='전체' and cateWtype !='전체' and cateReqDate !='전체' and cateDivision !='전체' and cateStatus !='전체'">
             	<if test="cateReqDate=='오름차순'">
					WHERE d.wtype=#{cateWtype}
             		AND d.division=#{cateDivision}
             		AND	d.statusCode=#{cateStatus}
             		ORDER BY d.reqDate ASC
             	</if>
             	<if test="cateReqDate=='내림차순'">
             		WHERE d.wtype=#{cateWtype}
             		AND d.division=#{cateDivision}
             		AND	d.statusCode=#{cateStatus}
             		ORDER BY d.reqDate DESC
             	</if>
             </if>
             
             <if test="cateChain !='전체' and cateWtype=='전체' and cateReqDate !='전체' and cateDivision !='전체' and cateStatus!='전체'">
             	<if test="cateReqDate=='오름차순'">
					WHERE d.d_chainId=#{cateChain}
             		AND d.division=#{cateDivision}
             		AND	d.statusCode = #{cateStatus}
             		ORDER BY d.reqDate ASC
             	</if>
             	<if test="cateReqDate=='내림차순'">
             		WHERE d.d_chainId=#{cateChain}
             		AND d.division=#{cateDivision}
             		AND	statusCode = #{cateStatus}
             		ORDER BY d.reqDate DESC
             	</if>
             </if>
             <if test="cateChain !='전체' and cateWtype !='전체' and cateReqDate =='전체' and cateDivision !='전체' and cateStatus!='전체'">
             	WHERE d.d_chainId=#{cateChain}
             	AND	d.wtype=#{cateWtype}
             	AND d.division=#{cateDivision}
             	AND	statusCode = #{cateStatus}
             </if>
             
             <if test="cateChain !='전체' and cateWtype !='전체' and cateReqDate !='전체' and cateDivision =='전체' and cateStatus!='전체'">
             	<if test="cateReqDate=='오름차순'">
					WHERE d.d_chainId=#{cateChain}
             		AND d.wtype=#{cateWtype}
             		AND	statusCode = #{cateStatus}
             		ORDER BY d.reqDate ASC
             	</if>
             	<if test="cateReqDate=='내림차순'">
             		WHERE d.d_chainId=#{cateChain}
             		AND d.wtype=#{cateWtype}
             		AND	statusCode = #{cateStatus}
             		ORDER BY d.reqDate DESC
             	</if>
             </if>
             
             <if test="cateChain !='전체' and cateWtype !='전체' and cateReqDate !='전체' and cateDivision !='전체' and cateStatus =='전체'">
             	<if test="cateReqDate=='오름차순'">
					WHERE d.d_chainId=#{cateChain}
             		AND d.wtype=#{cateWtype}
             		AND	d.division = #{cateDivision}
             		ORDER BY d.reqDate ASC
             	</if>
             	<if test="cateReqDate=='내림차순'">
             		WHERE d.d_chainId=#{cateChain}
             		AND d.wtype=#{cateWtype}
             		AND	d.division = #{cateDivision}
             		ORDER BY d.reqDate DESC
             	</if>
             </if>
             
             <if test="cateChain =='전체' and cateWtype =='전체' and cateReqDate !='전체' and cateDivision !='전체' and cateStatus !='전체'">
             	<if test="cateReqDate=='오름차순'">
					WHERE d.statusCode=#{cateStatus}
             		AND	d.division = #{cateDivision}
             		ORDER BY d.reqDate ASC
             	</if>
             	<if test="cateReqDate=='내림차순'">
             		WHERE d.statusCode=#{cateStatus}
             		AND	d.division = #{cateDivision}
             		ORDER BY d.reqDate DESC
             	</if>
             </if>
             
              <if test="cateChain =='전체' and cateWtype !='전체' and cateReqDate =='전체' and cateDivision !='전체' and cateStatus !='전체'">
              		WHERE d.wtype = #{cateWtype}
              		AND d.division = #{cateDivision}             
             		AND	d.statusCode=#{cateStatus}
              </if>
              <if test="cateChain =='전체' and cateWtype !='전체' and cateReqDate !='전체' and cateDivision =='전체' and cateStatus !='전체'">
              	<if test="cateReqDate=='오름차순'">
					WHERE d.wtype = #{cateWtype}
              		AND d.statusCode=#{cateStatus}
              		ORDER BY d.reqDate ASC
             	</if>
             	<if test="cateReqDate=='내림차순'">
             		WHERE d.wtype = #{cateWtype}
              		AND d.statusCode=#{cateStatus}
             		ORDER BY d.reqDate DESC
             	</if>
              </if>
              
              <if test="cateChain =='전체' and cateWtype !='전체' and cateReqDate !='전체' and cateDivision !='전체' and cateStatus =='전체'">
              	<if test="cateReqDate=='오름차순'">
					WHERE d.wtype = #{cateWtype}
              		AND	d.division = #{cateDivision}             
              		ORDER BY d.reqDate ASC
             	</if>
             	<if test="cateReqDate=='내림차순'">
             		WHERE d.wtype = #{cateWtype}
              		AND	d.division = #{cateDivision}             
             		ORDER BY d.reqDate DESC
             	</if>
              </if>
              
              <if test="cateChain !='전체' and cateWtype =='전체' and cateReqDate =='전체' and cateDivision !='전체' and cateStatus !='전체'">
              	WHERE 
              		d.d_chainId = #{cateChain}
              		AND	d.division = #{cateDivision}             
              		AND d.statusCode=#{cateStatus}
              </if>
              
              <if test="cateChain !='전체' and cateWtype =='전체' and cateReqDate !='전체' and cateDivision =='전체' and cateStatus !='전체'">
              	<if test="cateReqDate=='오름차순'">
					WHERE d.d_chainId = #{cateChain}
              		AND d.statusCode=#{cateStatus}             
              		ORDER BY d.reqDate ASC
             	</if>
             	<if test="cateReqDate=='내림차순'">
             		WHERE d.d_chainId = #{cateChain}
              		AND d.statusCode=#{cateStatus}             
             		ORDER BY d.reqDate DESC
             	</if>
              </if>
              
              <if test="cateChain !='전체' and cateWtype =='전체' and cateReqDate !='전체' and cateDivision !='전체' and cateStatus =='전체'">
              	<if test="cateReqDate=='오름차순'">
					WHERE d.d_chainId = #{cateChain}
              		AND	d.division = #{cateDivision}             
              		ORDER BY d.reqDate ASC
             	</if>
             	<if test="cateReqDate=='내림차순'">
             		WHERE d.d_chainId = #{cateChain}
              		AND	d.division = #{cateDivision}             
             		ORDER BY d.reqDate DESC
             	</if>
              </if>
              
              <if test="cateChain !='전체' and cateWtype !='전체' and cateReqDate =='전체' and cateDivision =='전체' and cateStatus !='전체'">
              	WHERE d.d_chainId = #{cateChain}
              		AND d.wtype = #{cateWtype}
              		AND d.statusCode=#{cateStatus}
              </if>
              
              <if test="cateChain !='전체' and cateWtype !='전체' and cateReqDate =='전체' and cateDivision !='전체' and cateStatus =='전체'">
             	 WHERE d.d_chainId = #{cateChain}
              		AND d.wtype = #{cateWtype}
              		AND	d.division = #{cateDivision}             
              </if>
              
              <if test="cateChain !='전체' and cateWtype !='전체' and cateReqDate !='전체' and cateDivision =='전체' and cateStatus =='전체'">
              	<if test="cateReqDate=='오름차순'">
					WHERE d.d_chainId = #{cateChain}
              		AND d.wtype = #{cateWtype}
              		ORDER BY d.reqDate ASC
             	</if>
             	<if test="cateReqDate=='내림차순'">
             		WHERE d.d_chainId = #{cateChain}
              		AND d.wtype = #{cateWtype}
             		ORDER BY d.reqDate DESC
             	</if>
              </if>
              
              <if test="cateChain =='전체' and cateWtype =='전체' and cateReqDate =='전체' and cateDivision !='전체' and cateStatus !='전체'">
              	WHERE d.division = #{cateDivision}             
              	AND d.statusCode=#{cateStatus}
              </if>
              
              <if test="cateChain =='전체' and cateWtype =='전체' and cateReqDate !='전체' and cateDivision =='전체' and cateStatus !='전체'">
              	<if test="cateReqDate=='오름차순'">
					WHERE d.statusCode=#{cateStatus}
              		ORDER BY d.reqDate ASC
             	</if>
             	<if test="cateReqDate=='내림차순'">
             		WHERE d.statusCode=#{cateStatus}
             		ORDER BY d.reqDate DESC
             	</if>
              </if>
              
              <if test="cateChain =='전체' and cateWtype =='전체' and cateReqDate !='전체' and cateDivision !='전체' and cateStatus =='전체'">
              <if test="cateReqDate=='오름차순'">
					WHERE d.division = #{cateDivision}             
              		ORDER BY d.reqDate ASC
             	</if>
             	<if test="cateReqDate=='내림차순'">
             		WHERE d.division = #{cateDivision}             
             		ORDER BY d.reqDate DESC
             	</if>
              </if>
              
              <if test="cateChain =='전체' and cateWtype !='전체' and cateReqDate =='전체' and cateDivision =='전체' and cateStatus !='전체'">
              	WHERE d.wtype = #{cateWtype}
              	AND d.statusCode=#{cateStatus}
              </if>
              
              <if test="cateChain =='전체' and cateWtype !='전체' and cateReqDate =='전체' and cateDivision !='전체' and cateStatus =='전체'">
              	WHERE d.wtype = #{cateWtype}
              	AND	d.division = #{cateDivision}             
              </if>
              
              <if test="cateChain =='전체' and cateWtype !='전체' and cateReqDate !='전체' and cateDivision =='전체' and cateStatus =='전체'">
              	<if test="cateReqDate=='오름차순'">
					WHERE d.wtype = #{cateWtype}
              		ORDER BY d.reqDate ASC
             	</if>
             	<if test="cateReqDate=='내림차순'">
             		WHERE d.wtype = #{cateWtype}
             		ORDER BY d.reqDate DESC
             	</if>
              </if>
              
              <if test="cateChain !='전체' and cateWtype =='전체' and cateReqDate =='전체' and cateDivision =='전체' and cateStatus !='전체'">
              	WHERE d.d_chainId = #{cateChain}
              	AND d.statusCode=#{cateStatus}
              </if>
              
              <if test="cateChain !='전체' and cateWtype =='전체' and cateReqDate =='전체' and cateDivision !='전체' and cateStatus =='전체'">
              	WHERE d.d_chainId = #{cateChain}
              	AND	d.division = #{cateDivision}             
              </if>
              
              <if test="cateChain !='전체' and cateWtype =='전체' and cateReqDate !='전체' and cateDivision =='전체' and cateStatus =='전체'">
              	<if test="cateReqDate=='오름차순'">
					WHERE d.d_chainId = #{cateChain}
              		ORDER BY d.reqDate ASC
             	</if>
             	<if test="cateReqDate=='내림차순'">
             		WHERE d.d_chainId = #{cateChain}
             		ORDER BY d.reqDate DESC
             	</if>
              </if>
              
              <if test="cateChain !='전체' and cateWtype !='전체' and cateReqDate =='전체' and cateDivision =='전체' and cateStatus =='전체'">
              	WHERE d.d_chainId = #{cateChain}
                AND d.wtype = #{cateWtype}
              </if>
              
              <if test="cateChain !='전체' and cateWtype =='전체' and cateReqDate =='전체' and cateDivision =='전체' and cateStatus =='전체'">
              	WHERE d.d_chainId = #{cateChain}
              </if>
              
              <if test="cateChain =='전체' and cateWtype !='전체' and cateReqDate =='전체' and cateDivision =='전체' and cateStatus =='전체'">
              	WHERE d.wtype = #{cateWtype}
              </if>
               
              <if test="cateChain =='전체' and cateWtype =='전체' and cateReqDate !='전체' and cateDivision =='전체' and cateStatus =='전체'">
              	<if test="cateReqDate=='오름차순'">
              		ORDER BY d.reqDate ASC
             	</if>
             	<if test="cateReqDate=='내림차순'">
             		ORDER BY d.reqDate DESC
             	</if>
              </if>
              
              <if test="cateChain =='전체' and cateWtype =='전체' and cateReqDate =='전체' and cateDivision !='전체' and cateStatus =='전체'">
              	 WHERE d.division = #{cateDivision}             
              </if>
              
              <if test="cateChain =='전체' and cateWtype =='전체' and cateReqDate =='전체' and cateDivision =='전체' and cateStatus !='전체'">
              	WHERE d.statusCode=#{cateStatus}
              </if>
              
              <if test="cateChain =='전체' and cateWtype =='전체' and cateReqDate =='전체' and cateDivision =='전체' and cateStatus =='전체'">
              </if>
    </select>
</mapper>                         
                                  
